<h1 mat-dialog-title>Add a new question</h1>
<div mat-dialog-content>
  <form [formGroup]="questionForm" style="display: flex; flex-direction: column;">
    <mat-form-field appearance="fill">
      <mat-label>Question type</mat-label>
      <mat-select formControlName="questionType">
        <mat-option [value]="'paragraph'">Paragraph</mat-option>
        <mat-option [value]="'checkbox'">Checkbox List</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type question here</mat-label>
      <input matInput formControlName="question">
    </mat-form-field>
    <ng-container *ngIf="questionType === 'checkbox'">
      <ng-container formArrayName="options">
        <mat-form-field appearance="fill" *ngFor="let alias of options.controls; let i=index">
          <mat-label>Add answer options</mat-label>
          <input matInput [formControlName]="i">
        </mat-form-field>
      </ng-container>
      <button mat-button color="primary" (click)="addOption()" *ngIf="optionsLength < 5">+ Add another answer</button>
    </ng-container>
    <mat-checkbox class="example-margin" formControlName="allowOwnAnswer">Allow user to specify their own
      answer</mat-checkbox>
    <mat-checkbox class="example-margin" formControlName="required">This field is required</mat-checkbox>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button cdkFocusInitial (click)="submit()">Submit</button>
</div>
